/*
-Deben ser elementos por default que lucirán igual en todo el sitio, Es .
-Ningún estilo de estos elementos selectores deberá usar !important.
-No usar selectores tipo class o id.
*/

	
a
	text-decoration none
	
	&:hover
		text-decoration underline
		
	img
		border 0
	
body
	font-size 1.3em
	

h1, h2, h3
	
.conte_texto
	background rgba(251, 251, 251, .4)
	
	.texto_principal
		padding 1rem 0
		
		img.texto-intro
			centrar( 0, 80rem)
		
	

.cont_contador
	
	margin-top 5rem
	text-align center
	
	p.titulo_contador
		color $RojoO
		font-family $Bowl
		font-size 3rem
		margin-bottom 0
		text-transform uppercase
	
	p.text-incr
		color $RojoO
		font-family $QuickL
		font-size 3rem
		letter-spacing 0.5rem
		margin 0
		text-transform uppercase
	
	.contador
	
		margin-bottom 1rem

		.cont_numero
			background $Negro
			background linear-gradient(to bottom, #404040 0%,#333333 100%)
			box-shadow inset 0 0 10px 0 $Negro
			display inline-block
			color #fff
			font-family $Bowl
			font-size 4rem
			padding 1rem
		
	
.cont_general
	path("bg_formularios.png")
	padding-bottom 3rem
	



