footer
	background-color $RojoC
	bottom 0
	color #fff
	height 7rem
	width 100%
	
	h5
		color #fff
		margin-top 2.8rem
	
		a
			color #fff			
			font-family $QuickL
			text-decoraton none
			
			&:hover
				color #fff
				text-decoration none !important