.cont_nuevoM
	centrar(0, 30rem)
	left 0
	position absolute
	z-index 1
	
	img
		display block
		height auto
		max-width 100%

.conte_redes
	margin-left 72%
	position absolute
	top 1rem
	z-index 1 

.sprite-redes
	path("iconos-redes.png")
	background-repeat no-repeat
	
.icono-fb
	background-position -78px -1px
	display block
	float left
	height 62px
	margin-right 1rem
	transitionBase(0.2s)
	width 62px
	
	&:hover
		background-position -78px -65px
		
	
.icono-ytb
	background-position -1px -1px
	display block
	float left
	height 62px
	transitionBase(0.2s)
	width 62px
	
	&:hover
		background-position -1px -65px 

.cont_tit_sarten
	background none
	display block
	margin 4rem auto -3rem
	max-width 100%
	width 40rem
	z-index 10
	
.pruebas2
	position relative
	

.contHeader_img
	height 55rem
	overflow hidden
	
	.prueba
		position absolute
		top 50px
		z-index 1
	
	img
		centrar(0, 80rem)
		// display block
		height auto
		width 100%
		

	