/* Large desktops and laptops */
// @media (max-width: 1400px)


/* Portrait tablets and medium desktops */


@media (max-width: 1680px)

	.contHeader_img
		height 55rem
		overflow hidden
		
@media (max-width: 1280px)

	.contHeader_img
		height 57rem
		overflow hidden



@media (max-width: 994px)
	.conte_redess
		margin-left 73%
		
	.contHeader_img
		height 39rem
		overflow hidden
		


	
		
@media (min-width: 940px) and (max-width: 992px)
	.conte_redes
		margin-left 73%
		top -2.5rem	

@media (min-width: 670px) and (max-width: 939px)
	.conte_redes
		margin-left 75%
		top -2.5rem	
	
	.cont_tit_sarten
		margin 4rem 0 -3rem 7rem
	
	.btn-ir-formulario
		margin -22px 0 0 38%
		
	.cont_nuevoM
		width 20rem

@media (min-width: 600px) and (max-width: 669px)
	.conte_redes
		margin-left 71%
		top -2.5rem	
	
	.cont_tit_sarten
		margin 4rem 0 -3rem 8rem
		width 35rem
	
	.btn-ir-formulario
		margin -22px 0 0 35%
		
	.cont_nuevoM
		width 20rem


	.contHeader_img
		height 47rem
		overflow hidden
		


@media (min-width: 500px) and (max-width: 599px)
	.cont_nuevoM
		width 12rem
	.conte_redes
		margin-left 63%
		top -2.5rem	
	
	.cont_tit_sarten
		margin 4rem 0 -3rem 2rem
		width 30rem
	
	.btn-ir-formulario
		margin -22px 0 0 32%
		
	.contHeader_img
		height 41rem
		overflow hidden

@media (min-width: 320px) and (max-width: 480px)
	.contHeader_img
		height 27rem
		


@media (min-width: 381px) and (max-width: 499px)
	.cont_nuevoM
		width 14rem
	.conte_redes
		margin-left 77%
		top -2.5rem
	.sprite-redes
		path("iconos-redesRes.png")
		background-repeat no-repeat
	.icono-fb
		background-position -41px -2px
		display block
		float left
		height 32px
		margin-right 0.5rem
		width 32px
		&:hover
			background-position -41px -34px	
	.icono-ytb
		background-position -3px -2px
		display block
		float left
		height 32px
		width 32px
		&:hover
			background-position -3px -34px
	.cont_tit_sarten
		margin 4rem 0 -2rem 3rem
		width 30rem	
	.btn-ir-formulario
		margin -22px 0 0 23%
		
	.contHeader_img
		height 41rem
		overflow hidden

@media (min-width: 300px) and (max-width: 381px)
	.cont_nuevoM
		width 14rem
	.conte_redes
		margin-left 70%
		top -3rem
	.sprite-redes
		path("iconos-redesRes.png")
		background-repeat no-repeat
	.icono-fb
		background-position -41px -2px
		display block
		float left
		height 32px
		margin-right 0.5rem
		width 32px
		&:hover
			background-position -41px -34px	
	.icono-ytb
		background-position -3px -2px
		display block
		float left
		height 32px
		width 32px
		&:hover
			background-position -3px -34px
	.cont_tit_sarten
		margin 4rem 0 -2rem 3rem
		width 30rem	
	.btn-ir-formulario
		display none


// @media (min-width: 992px) and (max-width: 1000px)
// @media (max-width: 1024px)


		
// @media (max-width: 320px)
	