/*

En este archivo se declaran los colores, las fonts y sus variaciones

*/

//Paleta de colores del proyecto

$Gris        = #575756
$GrisC		= #868686
$RojoO       = #ae0512
$RojoC	    = #eb1c23
$Azul        = #0997d5
$AzulO       = #1d71b7
$Negro       = #000000
$AzulS       = #036886
$Amarillo    = #fff100 


/*Pueden encontrar más funciones para mezclas y manejo de color acá:
https://learnboost.github.io/stylus/docs/bifs.html*/

//Fonts
$QuickL   = 'quick_L', sans-serif
$Bowl = 'bowlOne', sans-serif

//Font weights
$Light  = 300
$Normal = 400
$Bold   = 700

