//Header
header.container-fluid.cont_headerM
	div.cont_nuevoM
		img.img-responsive(src="images/nuevo.png", alt="NUEVO")

	div.row
		div.col-lg-12.col-md-12.col-sm-12-colxs-12

			div.conte_redes

				a.sprite-redes.icono-fb(href="https://www.facebook.com/MaggiColombia/")
			

				a.sprite-redes.icono-ytb(href="https://www.youtube.com/user/MAGGICOLOMBIA")

			h1.cont_tit_sarten

				img.img-responsive(src="images/titulo_maggi.png", tittle="Titulo Sarten", alt="Titulo Sarten")

			div.contHeader_img
				img.img-responsive(src="images/curvaHeader.png", tittle="Imagen Sarten Maggi", alt="Imagen Sarten Maggi")

	a.btn-ir-formulario.ir-abajo.

						Inscr&iacute;bete aqu&iacute; 

///-Header